html{height:100%;margin:0;padding:0}
body{height:100%;margin:0;padding:0;font-family:"Source Sans Pro",sans-serif}
#page{padding:0;width:100%;position:absolute;top:9.3%;height:90.7%}
#contextual{height:50%}
#chat{background-color:#fff;border:1px solid #000;position:relative;height:50%;padding:0}
#log{background-color:#fff;height:50%;padding:0}
#chatbox{position:absolute;bottom:0;left:0;width:100%;}
#chatbox input{border-radius:0}
#chatbox .icon{border-radius:0}
.name{background-color:#fbf6e9}
.message,.time{background-color:#e6f4f9}
.time{text-align:right}
