!!!
html(lang="en")
  head
    include res/head
    include res/styles
  body
    .ui.fixed.transparent.main.menu.borderless
      .title.item.vertically.fitted
        img(src="/image/logo.png")
      .item.align.right
        i.icon.list#menu-button
    .ui.right.sidebar
    #page.ui.page.stackable.grid
      #log.eight.wide.column
        include ui/log
      #contextual.eight.wide.column
        include ui/detail
      #chat.sixteen.wide.column
        include ui/chat
    include res/scripts