table.ui.basic.table
  tbody
    tr
      td.name Johnny
      td.message Hey, is the website down right now?
      td.time Sat Jul 23 02:16:57 2005
    tr
      td.name Sally
      td.message Look at the status <-- not good.
      td.time Sat Jul 23 02:16:57 2005
    tr
      td.name Freddy
      td.message Ya, I'm looking into it right now.
      td.time Sat Jul 23 02:16:57 2005

form#chatform(method="POST", action="/message")
  #chatbox.ui.input.icon
      input(type="text", placeholder="Write your message", name="message")
      i.inverted.chat.icon.teal