table.ui.basic.table
  thead
    tr
      th Time
      th Message
      th Level
  tbody
    tr.warning
      td Sat Jul 23 02:16:57 2005
      td Webserver named: Johnny is becoming overloaded
      td Warning
    tr.error
      td Sat Jul 23 02:16:57 2005
      td Database server is overloaded
      td Error
    tr
      td Sat Jul 23 02:16:57 2005
      td 5 Webservers responding
      td Status